footer {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 23px;
    position: static;
    left: 0;
    height: 519.989px;
    line-height: 1.4;
}


.fsfooter {
    background-color: #2e2e2e;
    color: white;
    padding: 30px 0;
    height: 519.989px;
}

.footer-objects {
    width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
    height: 459.979px;
}

.text-links-button {
    margin: 0 -15px;
    height: 319.312px;
}

.text-links-border {
    padding: 0 15px;
    width: 50%;
    position: relative;
    float: left;
    height: 319.302px;
}

.fs-sign-up {
    height:303.312px;
}

.fs-sign-up h3 {
    height: 43.2px;
    padding-bottom: 8px;
    margin-bottom: 0;
    font-size: 2em;
    font-family: "FrutigerLTProBold";
}

.under-h3 p{
    margin-bottom: 16px;
    font-family: "FrutigerLTProLight";
}

.data-holder {
    margin-top: 10px;
}

.privacy-data {
    display: inline;
    align-items: center;
    cursor: pointer;
    width: 215.708px;
    height: 30px;
    font-family: "FrutigerLTProBold";
}

.privacy-data h3 {
    display: inline-block;
    padding: 0;
    font-size: 1em;
    color: #fff;
    text-decoration: underline;
}

.arrow-icon {
    width: 30px;
    height: 30px;
    margin-right: 15px;
}

.privacy-content {
    color: #fff;
    cursor: pointer;
    font-size: 1em;
}

.privacy-content img {
    width: 30px;
    height: 30px;
    margin-right: 15px;
}

.privacy-content {
    text-decoration: underline;
}


.privacy-expanded-content {
    padding-bottom: 15px;
    padding-top: 15px;
    width: 100%;
    margin: 0 auto;
    display: block;
    color: #fff;
    font-family: "FrutigerLTProLight";
    font-size: 16px;
}

.privacy-expanded-content a{
    text-decoration: none;
    color: #fff;
}

.footer-form {
    background-color: #ffd300;
    border: 0;
    color: #000;
    width: 153px;
    height: 43px;
    padding: 7px;
    margin-bottom: 10px;
    cursor: pointer;
    font-family: "FrutigerLTProBold";
    font-size: 1.3em;
}

.footer-form:hover {
    background-color: #ffe02e;
    transition-duration: 0.5s;
}

.spacer-sentence {
    width: 555px;
    height: 0;
    margin-bottom: 16px;
}

.footer-links-cont {
    width: 50%;
    height: 311.833px;
    padding: 0 15px;
    position: relative;
    float: left;
}

.footer-links {
    margin: 0 -15px;
    height: 311.833px;
}

.links-col {
    width: 50%;
    float: left;
    position: relative;
    padding: 0 15px
}

.left-links-col {
    height: 311.833px;
}

.right-links-col {
    height: 272.771px;
}

.left-links {
    padding: 0;
    margin: 0;
}

.right-links {
    padding: 0;
    margin: 0;
}

.links-col ul {
    list-style: none;
}

.links-col li {
    padding: 8px 0;
    width: 262.500px;
    height: 39.396px;
}

.links-col a {
    color: #ffd300;
    text-decoration: none;
}

.links-col a:hover {
    text-decoration: underline;
    color: #fff;
    transition-duration: 0.5s;
}

.liborder {
    border-bottom: 1px solid rgba(255,255,255,.4);
}

.liborder a {
    font-family: "FrutigerLTProLight";
}

.nobord {
    font-family: "FrutigerLTProLight";
}

.footer-symbols-texts {
    width: 1170px;
    height: 140.667px;
    margin: 0 -15px;
    font-family: "FrutigerLTProLight";
}

.footer-hr {
    padding: 0 15px;
    width: 100%;
    height:44.667px;
    position: relative;
    float:left;
}

.footer-hr hr {
    border-top: 1px solid #eee;
    margin: 22px 0;
}

.footer-icons {
    width: 50%;
    padding: 0 15px;
    height: 96px;
    float: left;
    position: relative;
}

.footer-image-1 {
    margin-right: 35px;
    margin-bottom: 30px;
}

.footer-image-2 {
    margin-right: 30px;
    margin-bottom: 30px;
}

.phone-number {
    width: 25%;
    float: left;
    position: relative;
    padding: 0 15px;
    height: 83.188px;
}

.copyright {
    width: 25%;
    float: left;
    position: relative;
    padding: 0 15px;
}